body.Home

  #root
    
    #head_container
          
      #head
            
        #logo
          :background-image       url(/images/peach-bg.gif)
          :text-align             center
          
    #content_container
    
      #content
      
        #content_main
          +grid-push(4.9)
          :margin             4px 0 10px 0
          :padding            0
      
          #spotlight
          
            #banners
              +grid(20)
              :margin           0 0 3px 0
              :padding          0
            
              a
                :margin         0 3px 0 0
                :padding        0
                :float          left
                
            #purple-bar
              +grid(19)
              :background-color       = !purple
              :margin                   0 0 3px 0
              :padding                  5px 7px 3px 8px
              :text-align               center
              :clear                    both
              
              a
                :color                  white
                :text-decoration        none
              
              a:hover
                :text-decoration        underline
                  
            
            #bottom-block
              :margin         0 0 15px 0
              :padding        0
              :clear          both
            
          .intro
            :color         = !red
            :font-size       32px
            :padding         15px 0 15px 14px
                
          .col
            +grid(9)
            :padding      0 0 20px 0
            :margin       0
            
          .col.first
            :padding      0 30px 20px 20px
          
        #left
          +grid-pull(18.75)
          :margin         0
            
             