.dropdown_wrapper {
  border: 1px solid #b3b3b3;
  border-top: 1px solid #c3c3c3;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px; }

ul.menu {
  background: white;
  font-size: 80%;
  padding: 5px 20px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px; }
  ul.menu li {
    margin: 0 -20px; }
    ul.menu li.separator {
      margin: 5px -18px;
      border-top: 1px solid #e5e5e5; }
  ul.menu a {
    color: black;
    display: block;
    padding: 6px 20px;
    text-decoration: none;
    border-top: 1px solid white; }
    ul.menu a:hover {
      background: #e0f0ff url(../../images/admin/menu_highlight.png) top center repeat-x;
      border-top: 1px solid #d5f0ff;
      background: gradient(linear, left top, left bottom, from(#e5f5ff), to(#b5d0f5));
      background: -webkit-gradient(linear, left top, left bottom, from(#e5f5ff), to(#b5d0f5));
      background: -moz-linear-gradient(left top, left bottom, from(#e5f5ff), to(#b5d0f5)); }
