<div class="heading"><strong>Advertising</strong></div>
<div id="advertisements">
  <div class="content">
    <a href="/signup"><img alt="Talking" src="/sites/site-1/themes/pma/images/talking.gif" /></a>
    <!--<a class="btn-more" href="/discounts">MORE DEALS</a>-->
  </div>
</div>
