<div class="headline">
  <h2>Featured Merchant</h2>
</div>
<div class="image-holder">
  <a href="http://salonpureprinceton.com"><%= theme_image_tag 'pma', 'Salon-Pure.jpg' %></a>
</div>
<div class="content">
  <h3>Salon Pure</h3>
  <p>We are a full service hair salon also offering waxing, nail services and Keratin Hair Treatments and were recently voted "Best of Jersey 2010" by NJ Monthly Magazine!</p>
  <p>Pure. Passion. Perfection. Simply stated, these are the words to truly describe the drive behind the team of Salon Pure. Our creative team feels the importance of simplistic beauty in its true form. Once within the doors of the salon we invite you to sit back, relax, rejuvenate, and enjoy the time that belongs to you. You are our priority and it is important to experience all that we have to offer to you, our guest. Share with us what you are looking for and be a co-creator of your unique beauty.</p>
  <p>Visit us at 31A Hulfish Street (above Mediterra Restaurant).</p>
  <ul class="links-list">
    <li><a href="http://salonpureprinceton.com">VISIT WEBSITE</a></li>
  </ul>
</div>
