body
  +font("Helvetica, Arial, sans-serif", "14px")
  color: #666
  height: 100%
  background: url(../../images/bg-purple-body.gif)
  line-height: 18px
  
  strong
    font-weight: bold
    
  em
    font-style: italic
    
  a
    color = !green
    text-decoration: none
    
  a:hover
    text-decoration: underline
    
  h1, h2, h3, h4
    font-family: Tahoma
    font-weight: 100
    margin: 15px 0 15px 0
    padding: 0
    
  h1 
    color = !purple
    font-size: 26px
    line-height: 29px
    
    a
      color = !purple
      text-decoration: none
  
  h2 
    color = !teal
    font-size: 22px
    line-height: 25px
    
    a
      color = !teal
      text-decoration: none
  
  h3 
    color = !grey
    font-size: 20px
    line-height: 23px
    
    a
      color = !grey
      text-decoration: none
  
  h4 
    color = !grey
    font-size: 17px
    margin: 3px 0 3px 0
    line-height: 21px
    
    a
      color = !grey
      text-decoration: none
    
  p
    margin: 10px 0 10px 0
      
    li
      padding: 3px 0 3px 5px
      list-style-type: none
      
  span.read-more
    margin-bottom: 10px
    display: block
      
  small
    font-size: 12px
    
  #root
    +grid-container
    
    #head-container
      +clearfix
      
      #head
        +grid-container
        border-top: 6px solid #e6e6e6
        background-color = !white
        
        .top
          +grid(24)
          padding-top: 5px
          
          span 
            float: left
            padding: 0 0 0 10px
            font-size: 11px
            line-height: 15px
            
          ul
            float: left
            white-space: nowrap 
            
            li
              float: left
              background: url(../../images/divider-header.gif) no-repeat 0 4px
              padding: 0 5px 0 6px
              font-size: 11px
              line-height: 15px
            
            li:first-child  
              background: none
              
        h1#logo
        
          a
          
            img
              margin: 20px 0 15px 23px
              
    #content-container
      +grid-container
      +pie-clearfix
      background: url(../../images/bg-3-columns-head.gif) no-repeat
      
      #content
        +grid-container
        +pie-clearfix
            
      
  #foot-container
  
    #foot
      +grid-container
      padding: 15px 0 25px 0
      background: url(../../images/bg-footer.gif) repeat-x
      background-color = !green
      
      .copyright
        float: right
        color = !white
        font-size: 11px
        margin: 0 15px 0 0
        display: inline
        
      ul 
        li
          float: left
          background: url(../../images/divider-footer.gif) no-repeat 0 3px
          padding: 0 8px 0 9px
          font-size: 11px
          
          a
            color = !white
            text-decoration: none
            
          a:hover
            text-decoration: underline
        
        li:first-child
          background: none