body
  +font("Helvetica, Arial", "14px")
  :height                100%
  
  strong
    :font-weight              bold
    
  em
    :font-style               italic
    
  a
    :color                  = !blue
    
  #root
    
    #head_container
      +clearfix
      
      #head
        +grid-container
        :position             relative
        :padding              0
        :margin
          :top                0
          :bottom             0
        
        #top
          :height               30px
          :background-color   = !purple
          :color              = !white
          :font-size            12px
          
          li 
            :float                right
            :padding              0 5px 0 5px
            :margin               0 15px 0 5px
            
            form  
                
              input
                :height              15px
                :font-size           12px
                :margin              3px 0 0 3px
                :width               125px
          
            a
              :color            = !white
              :position           relative
              :top                10px        
              
    #content_container
      +pie-clearfix
    
      #content
        +grid-container
        +pie-clearfix
        :position             relative
        :background           url(/images/peach-bg-left.gif) repeat-y
        :padding              0
        :margin
          :top                0
          :bottom             0

      
        #left
          +grid(5)
          +grid-pull(19.2)
          +alpha
          +omega
          :padding             10px 0 10px 0
          :display             block
            
          #logo
            :text-align       center
            :margin-bottom    30px     
        
        #content_main
          +grid(19)
          +grid-push(4.8)
          +alpha
          +omega
          :line-height       = !line_height
          :font-size         = !font_size
          :padding             10px 0 10px 20px
          :background-color  = !white
          :height              100%
          
          h1, h2, h3, h4
            :margin              10px 0 10px 0
            
            a
              :text-decoration        none       
                              
          h1
            +font("Helvetica, Arial", "30px", true, "bold")
            :color             = !purple
            :line-height       = 28px
            
            a
              :color                = !purple          
                            
          h2
            +font("Helvetica, Arial", "25px", true, "bold")
            :line-height       = 25px
                            
          h3
            +font("Helvetica, Arial", "22px", true, "bold")
            :line-height       = 22px
                            
          h4
            +font("Helvetica, Arial", "18px", true, "bold")
            :line-height       = 20px
              
          p
            :margin-bottom      1em
            
            img.left
              :float            left
              :margin           5px 10px 5px 2px               
              
            img.right
              :float            right
              :margin           5px 2px 5px 10px
          
          
          #spotlight
            :margin-bottom        30px
            
          #breadcrumbs
            :margin-bottom        20px
              
          div.pagination
            +grid(14)
            :text-align         center
            
          #inner-left
            +grid(14.6)
            +alpha
 
          #inner-right
            +grid(4)
            +omega
            :height              100%
            :border-left         2px solid #ebebeb
            :padding             2px 0 5px 5px
            
            .register
              :margin-bottom    15px
              :display          block
            
            #tools
              :width            112px
              :border           1px solid #ededed
              :padding          10px
              :margin           0 0 15px 1px
              
              li
                :border-bottom    1px solid #ededed
                :padding          5px 0 5px 0
                :text-transform   uppercase
                :font-size        12px
                
                a
                  :text-decoration    none
                  :color            = !black
                
                img
                  :margin-right       5px
      
  #foot_container
  
    #foot
      +grid-container
      :color                = !grey
      :text-align             center
      :padding                20px
      :line-height            15px
      :font-size              12px
      :background-color     = !white
      
      a
        :color                = !grey
          