body

  #root

    #content-container
      
      #content
        
        #main
        
          #qs
            margin: 0 0 10px 0
 
  .ui-autocomplete
    max-height: 500px
    min-width: 250px
    overflow-y: auto
      
    li
      margin: 0 0 10px 0
      float: left
      clear: both
              
      img
        float: left
        margin: 0 7px 7px 0
        height: 40px
      
      div
        float: left
        width: 200px
        
        h4
          margin: 0 0 3px 0
          padding: 0
          font-size: 12px
          color: #333
      
        small
          color: #808080
          display: block
          float: left

            