html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1;
  color: #000;
  background: #fff; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: "" ""; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

a img {
  border: none; }

html, body {
  height: 100%; }

#root {
  min-height: 100%;
  margin-bottom: -20px; }
  #root #root_foot {
    height: 20px; }

#foot_container {
  clear: both;
  position: relative;
  height: 20px; }

body {
  font-family: Helvetica, Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  height: 100%; }
  body strong {
    font-weight: bold; }
  body em {
    font-style: italic; }
  body a {
    color: #312e7c; }
  body #root #head_container {
    overflow: hidden;
    display: inline-block; }
    body #root #head_container {
      display: block; }
    body #root #head_container #head {
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      min-width: 960px;
      position: relative;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0; }
      body #root #head_container #head #top {
        height: 30px;
        background-color: #99349a;
        color: white;
        font-size: 12px; }
        body #root #head_container #head #top li {
          float: right;
          padding: 0 5px 0 5px;
          margin: 0 15px 0 5px; }
          body #root #head_container #head #top li form input {
            height: 15px;
            font-size: 12px;
            margin: 3px 0 0 3px;
            width: 125px; }
          body #root #head_container #head #top li a {
            color: white;
            position: relative;
            top: 10px; }
  body #root #content_container {
    display: inline-block; }
    body #root #content_container:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden; }
    body #root #content_container {
      display: block; }
    body #root #content_container #content {
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      min-width: 960px;
      display: inline-block;
      position: relative;
      background: url(/images/peach-bg-left.gif) repeat-y;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0; }
      body #root #content_container #content:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden; }
      body #root #content_container #content {
        display: block; }
      body #root #content_container #content #left {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 190px;
        left: -768px;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        padding: 10px 0 10px 0;
        display: block; }
        body #root #content_container #content #left #logo {
          text-align: center;
          margin-bottom: 30px; }
      body #root #content_container #content #content_main {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 750px;
        left: 192px;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        line-height: 24px;
        font-size: 14px;
        padding: 10px 0 10px 20px;
        background-color: white;
        height: 100%; }
        body #root #content_container #content #content_main h1, body #root #content_container #content #content_main h2, body #root #content_container #content #content_main h3, body #root #content_container #content #content_main h4 {
          margin: 10px 0 10px 0; }
          body #root #content_container #content #content_main h1 a, body #root #content_container #content #content_main h2 a, body #root #content_container #content #content_main h3 a, body #root #content_container #content #content_main h4 a {
            text-decoration: none; }
        body #root #content_container #content #content_main h1 {
          font-family: Helvetica, Arial-bold-normal;
          font-size: 30px;
          color: #99349a;
          line-height: 28px; }
          body #root #content_container #content #content_main h1 a {
            color: #99349a; }
        body #root #content_container #content #content_main h2 {
          font-family: Helvetica, Arial-bold-normal;
          font-size: 25px;
          line-height: 25px; }
        body #root #content_container #content #content_main h3 {
          font-family: Helvetica, Arial-bold-normal;
          font-size: 22px;
          line-height: 22px; }
        body #root #content_container #content #content_main h4 {
          font-family: Helvetica, Arial-bold-normal;
          font-size: 18px;
          line-height: 20px; }
        body #root #content_container #content #content_main p {
          margin-bottom: 1em; }
          body #root #content_container #content #content_main p img.left {
            float: left;
            margin: 5px 10px 5px 2px; }
          body #root #content_container #content #content_main p img.right {
            float: right;
            margin: 5px 2px 5px 10px; }
        body #root #content_container #content #content_main #spotlight {
          margin-bottom: 30px; }
        body #root #content_container #content #content_main #breadcrumbs {
          margin-bottom: 20px; }
        body #root #content_container #content #content_main div.pagination {
          display: inline;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
          width: 550px;
          text-align: center; }
        body #root #content_container #content #content_main #inner-left {
          display: inline;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
          width: 574px;
          margin-left: 0; }
        body #root #content_container #content #content_main #inner-right {
          display: inline;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
          width: 150px;
          margin-right: 0;
          height: 100%;
          border-left: 2px solid #ebebeb;
          padding: 2px 0 5px 5px; }
          body #root #content_container #content #content_main #inner-right .register {
            margin-bottom: 15px;
            display: block; }
          body #root #content_container #content #content_main #inner-right #tools {
            width: 112px;
            border: 1px solid #ededed;
            padding: 10px;
            margin: 0 0 15px 1px; }
            body #root #content_container #content #content_main #inner-right #tools li {
              border-bottom: 1px solid #ededed;
              padding: 5px 0 5px 0;
              text-transform: uppercase;
              font-size: 12px; }
              body #root #content_container #content #content_main #inner-right #tools li a {
                text-decoration: none;
                color: black; }
              body #root #content_container #content #content_main #inner-right #tools li img {
                margin-right: 5px; }
  body #foot_container #foot {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    min-width: 960px;
    color: #606060;
    text-align: center;
    padding: 20px;
    line-height: 15px;
    font-size: 12px;
    background-color: white; }
    body #foot_container #foot a {
      color: #606060; }

body #root #content_container #content #left ol.tag_cloud {
  padding: 15px 5px 15px 10px;
  margin: 0;
  width: 175px;
  float: left; }
  body #root #content_container #content #left ol.tag_cloud li {
    float: left;
    line-height: 25px;
    padding: 0 4px 0 0; }
    body #root #content_container #content #left ol.tag_cloud li a {
      text-decoration: none; }
    body #root #content_container #content #left ol.tag_cloud li a:hover {
      text-decoration: underline; }
    body #root #content_container #content #left ol.tag_cloud li span {
      position: absolute;
      left: -10000px;
      width: 100px; }
  body #root #content_container #content #left ol.tag_cloud .size1 {
    font-size: 1em; }
  body #root #content_container #content #left ol.tag_cloud .size2 {
    font-size: 1.3em; }
  body #root #content_container #content #left ol.tag_cloud .size3 {
    font-size: 1.6em; }
  body #root #content_container #content #left ol.tag_cloud .size4 {
    font-size: 1.9em; }
  body #root #content_container #content #left ol.tag_cloud .size5 {
    font-size: 2.2em; }
  body #root #content_container #content #left ol.tag_cloud .size6 {
    font-size: 2.5em; }

input[type=text], textarea {
  width: 250px;
  height: 24px;
  padding-top: 4px;
  font-size: 16px;
  border: 0;
  border-top: #606060 1px solid;
  border-left: #717171 1px solid; }
  input[type=text]:active, input[type=text]:focus, textarea:active, textarea:focus {
    border-color: #3e3e3e; }

textarea {
  width: 450px;
  height: 150px; }

#form_contact {
  margin: 20px 0 0 10px; }

#site-map li {
  margin-bottom: 5px; }
#site-map ul {
  margin: 5px; }
  #site-map ul li {
    margin-left: 10px; }

body #root #content_container #content #left #nav {
  width: 190px;
  margin: 0;
  padding: 0; }
  body #root #content_container #content #left #nav li:hover ul {
    display: block;
    background-image: url(/images/peach-bg.gif);
    margin: 0;
    padding: 0;
    position: absolute;
    left: 190px;
    top: 0;
    z-index: 90000; }
  body #root #content_container #content #left #nav li {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0; }
    body #root #content_container #content #left #nav li a {
      display: block;
      margin: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 12px;
      padding-right: 12px;
      text-decoration: none; }
    body #root #content_container #content #left #nav li:hover a {
      text-decoration: none;
      background-color: #99349a;
      color: white; }
    body #root #content_container #content #left #nav li ul {
      display: none; }
      body #root #content_container #content #left #nav li ul li {
        margin: 0;
        padding: 0;
        background-color: #99349a; }
        body #root #content_container #content #left #nav li ul li a {
          max-width: 300px;
          white-space: nowrap; }
      body #root #content_container #content #left #nav li ul li:hover {
        background-color: #e9a5eb; }
        body #root #content_container #content #left #nav li ul li:hover a {
          background-color: #e9a5eb;
          color: #312e7c; }

body #root #content_container #content #content_main ul.listing {
  float: left;
  margin: 0;
  padding: 0; }
body #root #content_container #content #content_main div.article {
  padding-bottom: 15px; }
  body #root #content_container #content #content_main div.article p.info {
    margin: 0 0 10px 0;
    padding: 0;
    color: #606060;
    font-size: 12px; }
  body #root #content_container #content #content_main div.article ul.more li {
    margin: 0;
    paddind: 0;
    clear: both; }

body #root #content_container #content #content_main .event.article .important {
  background-color: #eaeaea;
  padding: 5px;
  margin: 0 0 10px 0; }
body #root #content_container #content #content_main #inner-right #upcoming-events {
  margin: 0 0 15px 0;
  width: 123px;
  padding: 5px;
  background-image: url(/images/peach-bg.gif); }
  body #root #content_container #content #content_main #inner-right #upcoming-events h4 {
    margin: 0 0 10px 0;
    padding: 0; }
  body #root #content_container #content #content_main #inner-right #upcoming-events ul li {
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 17px; }
    body #root #content_container #content #content_main #inner-right #upcoming-events ul li small {
      font-size: 11px;
      margin: 0;
      padding: 0;
      display: block; }

body.ABCs #root #content_container #content #content_main ul.listing li {
  padding: 0 0 0 0; }
body.ABCs #root #content_container #content #content_main #abc-index {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 726px;
  margin: 0 0 10px 0;
  padding: 0;
  background-color: #eaeaea;
  line-height: 16px; }
  body.ABCs #root #content_container #content #content_main #abc-index ul.col {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 224px;
    padding: 15px 0 15px 15px;
    margin: 0; }
    body.ABCs #root #content_container #content #content_main #abc-index ul.col li {
      font-size: 11px;
      padding: 0;
      margin: 0; }
      body.ABCs #root #content_container #content #content_main #abc-index ul.col li a {
        text-decoration: none; }
body.ABCs #root #content_container #content #content_main #inner-right {
  margin-top: 10px; }

body.Calendar #root #content_container #content #content_main ul.listing li {
  padding: 0 0 0 0; }
body.Calendar #root #content_container #content #content_main .calendar {
  margin: 0 0 10px 0;
  padding: 0;
  background-color: #ffffff; }
  body.Calendar #root #content_container #content #content_main .calendar .monthName, body.Calendar #root #content_container #content #content_main .calendar .monthLink {
    text-align: center;
    font-size: 16px;
    height: 30px; }
    body.Calendar #root #content_container #content #content_main .calendar .monthName a, body.Calendar #root #content_container #content #content_main .calendar .monthLink a {
      font-size: 30px;
      text-decoration: none; }
  body.Calendar #root #content_container #content #content_main .calendar th {
    width: 97px;
    font-weight: bold;
    border: 1px solid #ffffff;
    border-bottom: none;
    border-right: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #eaeaea; }
  body.Calendar #root #content_container #content #content_main .calendar td {
    width: 97px;
    border: 1px solid #ffffff;
    border-bottom: none;
    border-right: none;
    margin: 0;
    padding: 0 2px 2px 5px;
    line-height: 15px;
    font-size: 12px;
    background-color: #eaeaea;
    vertical-align: top; }
    body.Calendar #root #content_container #content #content_main .calendar td span.time {
      display: none; }
    body.Calendar #root #content_container #content #content_main .calendar td .date {
      float: right;
      font-size: 11px;
      margin: 0 0 5px 5px; }
    body.Calendar #root #content_container #content #content_main .calendar td p.event {
      padding: 10px 0 0 0;
      margin: 0; }
  body.Calendar #root #content_container #content #content_main .calendar td.otherMonth {
    color: #a0a0a0; }
body.Calendar #root #content_container #content #content_main #inner-right {
  margin-top: 10px; }

body.Home #root #head_container #head #logo {
  background-image: url(/images/peach-bg.gif);
  text-align: center; }
body.Home #root #content_container #content #content_main {
  left: 196px;
  position: relative;
  margin: 4px 0 10px 0;
  padding: 0; }
  body.Home #root #content_container #content #content_main #spotlight #banners {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 790px;
    margin: 0 0 3px 0;
    padding: 0; }
    body.Home #root #content_container #content #content_main #spotlight #banners a {
      margin: 0 3px 0 0;
      padding: 0;
      float: left; }
  body.Home #root #content_container #content #content_main #spotlight #purple-bar {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 750px;
    background-color: #99349a;
    margin: 0 0 3px 0;
    padding: 5px 7px 3px 8px;
    text-align: center;
    clear: both; }
    body.Home #root #content_container #content #content_main #spotlight #purple-bar a {
      color: white;
      text-decoration: none; }
    body.Home #root #content_container #content #content_main #spotlight #purple-bar a:hover {
      text-decoration: underline; }
  body.Home #root #content_container #content #content_main #spotlight #bottom-block {
    margin: 0 0 15px 0;
    padding: 0;
    clear: both; }
  body.Home #root #content_container #content #content_main .intro {
    color: #ca3502;
    font-size: 32px;
    padding: 15px 0 15px 14px; }
  body.Home #root #content_container #content #content_main .col {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 350px;
    padding: 0 0 20px 0;
    margin: 0; }
  body.Home #root #content_container #content #content_main .col.first {
    padding: 0 30px 20px 20px; }
body.Home #root #content_container #content #left {
  left: -750px;
  position: relative;
  margin: 0; }
