html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1;
  color: #000;
  background: #fff; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: "" ""; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

a img {
  border: none; }

html, body {
  height: 100%; }

#root {
  min-height: 100%;
  margin-bottom: -40px; }
  #root #root-foot {
    height: 40px; }

#foot-container {
  clear: both;
  position: relative;
  height: 40px; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #666;
  height: 100%;
  background: url(../../images/bg-purple-body.gif);
  line-height: 18px; }
  body strong {
    font-weight: bold; }
  body em {
    font-style: italic; }
  body a {
    color: #999732;
    text-decoration: underline; }
  body a:hover {
    text-decoration: none; }
  body h1, body h2, body h3, body h4 {
    font-family: Tahoma;
    font-weight: 100;
    margin: 15px 0 15px 0;
    padding: 0; }
  body h1 {
    color: #63284e;
    font-size: 26px;
    line-height: 29px; }
    body h1 a {
      color: #63284e;
      text-decoration: none; }
  body h2 {
    color: #339a99;
    font-size: 22px;
    line-height: 25px; }
    body h2 a {
      color: #339a99;
      text-decoration: none; }
  body h3 {
    color: #333333;
    font-size: 20px;
    line-height: 23px; }
    body h3 a {
      color: #333333;
      text-decoration: none; }
  body h4 {
    color: #333333;
    font-size: 17px;
    margin: 3px 0 3px 0;
    line-height: 21px; }
    body h4 a {
      color: #333333;
      text-decoration: none; }
  body p {
    margin: 10px 0 10px 0; }
    body p li {
      padding: 3px 0 3px 5px;
      list-style-type: none; }
  body #root {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    min-width: 960px; }
    body #root #head-container {
      overflow: hidden;
      display: inline-block; }
      body #root #head-container {
        display: block; }
      body #root #head-container #head {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        min-width: 960px;
        border-top: 6px solid #e6e6e6;
        background-color: white; }
        body #root #head-container #head .top {
          display: inline;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
          width: 950px;
          padding-top: 5px; }
          body #root #head-container #head .top span {
            float: left;
            padding: 0 0 0 10px;
            font-size: 11px;
            line-height: 15px; }
          body #root #head-container #head .top ul {
            float: left;
            white-space: nowrap; }
            body #root #head-container #head .top ul li {
              float: left;
              background: url(../../images/divider-header.gif) no-repeat 0 4px;
              padding: 0 5px 0 6px;
              font-size: 11px;
              line-height: 15px; }
            body #root #head-container #head .top ul li:first-child {
              background: none; }
          body #root #head-container #head .top .search-frm {
            float: right;
            margin: 0 10px 0 0;
            display: inline; }
            body #root #head-container #head .top .search-frm .text {
              float: left;
              width: 175px;
              height: 16px;
              padding: 1px 5px; }
            body #root #head-container #head .top .search-frm .btn {
              float: left;
              margin: 0 0 0 4px; }
        body #root #head-container #head h1#logo a img {
          margin: 20px 0 15px 23px; }
    body #root #content-container {
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      min-width: 960px;
      display: inline-block;
      background: url(../../images/bg-3-columns-head.gif) no-repeat; }
      body #root #content-container:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden; }
      body #root #content-container {
        display: block; }
      body #root #content-container #content {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        min-width: 960px;
        display: inline-block; }
        body #root #content-container #content:after {
          content: " ";
          display: block;
          height: 0;
          clear: both;
          overflow: hidden;
          visibility: hidden; }
        body #root #content-container #content {
          display: block; }
  body #foot-container #foot {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    min-width: 960px;
    padding: 15px 0 25px 0;
    background: url(../../images/bg-footer.gif) repeat-x;
    background-color: #999732; }
    body #foot-container #foot .copyright {
      float: right;
      color: white;
      font-size: 11px;
      margin: 0 15px 0 0;
      display: inline; }
    body #foot-container #foot ul li {
      float: left;
      background: url(../../images/divider-footer.gif) no-repeat 0 3px;
      padding: 0 8px 0 9px;
      font-size: 11px; }
      body #foot-container #foot ul li a {
        color: white;
        text-decoration: none; }
      body #foot-container #foot ul li a:hover {
        text-decoration: underline; }
    body #foot-container #foot ul li:first-child {
      background: none; }

body #root #content-container #content .headline {
  width: 100%;
  overflow: hidden; }
  body #root #content-container #content .headline .heading {
    height: 29px;
    max-width: 90%;
    min-width: 150px;
    float: left;
    background: #9acccd url(../../images/bg-heading2.gif) repeat-y 100% 0;
    margin: 1px 0 15px 0;
    padding-right: 25px; }
    body #root #content-container #content .headline .heading strong {
      color: #fff;
      display: block;
      margin: 5px 0 0 10px;
      font-size: 16px;
      font-weight: normal; }
  body #root #content-container #content .headline .btn-rss {
    float: right;
    background: url(../../images/ico-rss.gif) no-repeat;
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 1px 25px 0 0;
    display: inline; }
body #root #content-container #content .block {
  margin: 0 0 20px 0; }
  body #root #content-container #content .block .inner {
    padding: 0 20px 5px 20px; }
    body #root #content-container #content .block .inner .more {
      text-align: right;
      margin: 15px 5px 0 0; }
body #root #content-container #content #left .block .headline .heading {
  background: #666 url(../../images/bg-heading.gif) no-repeat 100% 0; }
body #root #content-container #content #left .block .headline .btn-rss {
  margin: 30px 25px 0 5px; }
body #root #content-container #content #left .block.feature {
  background: url(../../images/bg-left-nav-light.gif) repeat-y;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0; }
  body #root #content-container #content #left .block.feature .headline .heading {
    background: #666 url(../../images/bg-heading-white.gif) no-repeat 100% 0; }
body #root #content-container #content #main #inner-right .block .headline .heading {
  min-width: 125px;
  background: #9acccd url(../../images/bg-heading2.gif) no-repeat 100% 0; }
  body #root #content-container #content #main #inner-right .block .headline .heading strong {
    color: #333; }
body #root #content-container #content #main #inner-right .block .headline .btn-rss {
  margin: 0 18px 0 0; }
body #root #content-container #content #main #inner-right .block .inner {
  padding: 0 5px 5px 27px; }

#help-us form .amount {
  float: left;
  padding: 10px 0 5px 0; }
#help-us form input[type=text] {
  width: 100px; }

#featured-events {
  background: url(../../images/bg-left-nav-light.gif) repeat-y;
  margin: 0 0 0 0;
  padding: 0 0 15px 0; }
  #featured-events .inner {
    padding: 0;
    margin: 0 auto;
    width: 282px; }
    #featured-events .inner h3 {
      margin: 15px 0 15px 0; }
      #featured-events .inner h3 a {
        color: #339a99;
        font-size: 18px;
        line-height: 22px;
        font-weight: normal;
        text-decoration: none; }

body #root #content_container #content #content_main .body ol.tag_cloud {
  margin: 0;
  padding: 0;
  list-style-type: none;
  left: 0;
  text-align: justify; }
body #root #content_container #content ol.tag_cloud {
  float: left;
  text-align: justify; }
  body #root #content_container #content ol.tag_cloud li {
    float: left;
    line-height: 26px;
    padding: 0 4px 0 0; }
    body #root #content_container #content ol.tag_cloud li a {
      text-decoration: none; }
    body #root #content_container #content ol.tag_cloud li a:hover {
      text-decoration: underline; }
    body #root #content_container #content ol.tag_cloud li span {
      position: absolute;
      left: -10000px;
      width: 100px; }
  body #root #content_container #content ol.tag_cloud .size1 {
    font-size: 0.8em; }
  body #root #content_container #content ol.tag_cloud .size2 {
    font-size: 1.1em; }
  body #root #content_container #content ol.tag_cloud .size3 {
    font-size: 1.4em; }
  body #root #content_container #content ol.tag_cloud .size4 {
    font-size: 1.7em; }
  body #root #content_container #content ol.tag_cloud .size5 {
    font-size: 2.0em; }
  body #root #content_container #content ol.tag_cloud .size6 {
    font-size: 2.3em; }
  body #root #content_container #content ol.tag_cloud .size7 {
    font-size: 2.5em; }
  body #root #content_container #content ol.tag_cloud .size8 {
    font-size: 3.0em; }
  body #root #content_container #content ol.tag_cloud .size9 {
    font-size: 3.6em; }
  body #root #content_container #content ol.tag_cloud .size10 {
    font-size: 4.3em; }
body #root #content_container #content #left .tag-cloud-container {
  padding: 15px 5px 15px 10px;
  margin: 0; }
body #root #content_container #content #left ol.tag_cloud {
  width: 175px;
  margin-bottom: 10px;
  text-align: left; }

input[type=text], input[type=password], textarea {
  width: 325px;
  height: 18px;
  padding-top: 4px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  border: 1px solid #ccc; }
  input[type=text]:active, input[type=text]:focus, input[type=password]:active, input[type=password]:focus, textarea:active, textarea:focus {
    border-color: = "#111111"; }

#left input[type=text], #left input[type=password], #left textarea {
  width: 90%; }
#left textarea {
  height: 100px; }

textarea {
  width: 420px;
  height: 150px; }

.error-with-field input, .error-with-field select, .error-with-field textarea {
  background-color: #fde5fd; }
.error-with-field .error {
  color: #63284e; }

.buttons {
  padding: 15px 0; }

body #root #head-container #head #nav {
  overflow: hidden;
  background: url(../../images/bg-nav.gif) repeat-x;
  margin-top: 11px; }
  body #root #head-container #head #nav ul {
    margin: 8px 0 0 0;
    padding: 0;
    text-align: center;
    line-height: 22px; }
    body #root #head-container #head #nav ul li {
      float: left;
      padding: 0 0 0 35px;
      font-size: 11px;
      text-transform: uppercase; }
      body #root #head-container #head #nav ul li a {
        color: #676767;
        text-decoration: none; }
      body #root #head-container #head #nav ul li a:hover {
        text-decoration: underline; }
    body #root #head-container #head #nav ul li:first-child {
      padding-left: 23px; }
body #root #content-container #content #left #nav-sub {
  color: #666;
  margin: 0;
  padding: 5px 0 0 0; }
  body #root #content-container #content #left #nav-sub h2 {
    margin: 0 0 10px 15px;
    font-weight: normal;
    color: #63284e; }
  body #root #content-container #content #left #nav-sub h3 {
    margin: 10px 0 5px 15px;
    font-weight: normal;
    font-size: 14px; }
  body #root #content-container #content #left #nav-sub ul {
    background: url(../../images/bg-left-nav-dark.gif) repeat-y;
    width: 321px;
    margin: 0 0 15px 0;
    padding: 0;
    border-top: 1px solid #e6e6e6; }
    body #root #content-container #content #left #nav-sub ul li {
      margin: 0;
      padding: 0;
      width: 321;
      border-bottom: 1px solid #e6e6e6;
      list-style-type: none; }
      body #root #content-container #content #left #nav-sub ul li a {
        background: url(../../images/arrow-right-gray.gif) no-repeat 270px center;
        padding: 8px 0 8px 25px;
        display: block;
        width: 296px;
        color: #666;
        text-decoration: none;
        text-transform: uppercase; }
    body #root #content-container #content #left #nav-sub ul li.level-2 a {
      text-indent: 10px; }
    body #root #content-container #content #left #nav-sub ul li.level-3 a {
      text-indent: 25px; }
    body #root #content-container #content #left #nav-sub ul li.level-4 a {
      text-indent: 40px; }
    body #root #content-container #content #left #nav-sub ul li.level-5 a {
      text-indent: 55px; }
    body #root #content-container #content #left #nav-sub ul li.level-6 a {
      text-indent: 70px; }
    body #root #content-container #content #left #nav-sub ul li.active a, body #root #content-container #content #left #nav-sub ul li a:hover {
      background-color: #fff; }

#featured-member {
  margin: 0 0 0 0;
  padding: 0 0 15px 0; }
  #featured-member .inner {
    padding: 0;
    margin: 0 auto;
    width: 282px; }
    #featured-member .inner .logo {
      display: block;
      background: url(../../images/bg-image-holder.jpg) no-repeat;
      width: 271px;
      height: 236px;
      padding: 10px 0 0 11px;
      margin: 0 auto;
      overflow: hidden; }
    #featured-member .inner h3 {
      margin: 15px 0 15px 0; }
      #featured-member .inner h3 a {
        color: #339a99;
        font-size: 18px;
        line-height: 22px;
        font-weight: normal;
        text-decoration: none; }

body #root #content-container #content #main #index {
  background-color: #f7f7f7;
  padding: 10px;
  margin: 0 0 15px 0;
  float: left;
  clear: both; }
  body #root #content-container #content #main #index a {
    text-decoration: none; }
  body #root #content-container #content #main #index ol {
    float: left;
    width: 185px;
    margin: 0;
    padding: 0 10px 0 0;
    left: 0; }
    body #root #content-container #content #main #index ol li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      left: 0; }
body #root #content-container #content #main #members li {
  float: left;
  clear: both;
  margin: 0 0 15px 0;
  width: 100%; }
  body #root #content-container #content #main #members li img {
    float: right;
    margin: 0 10px 10px 10px; }
body #root #content-container #content #main .profile img {
  float: right;
  margin: 10px; }

#sharing {
  margin-top: 0;
  padding-top: 0;
  font-size: 12px; }
  #sharing .inner {
    margin-top: 0;
    padding-top: 0; }
    #sharing .inner p {
      margin: 0 0 5px 0;
      padding: 0; }
    #sharing .inner #mc_embed_signup {
      margin: 0 0 15px 0;
      padding: 0; }
      #sharing .inner #mc_embed_signup #mce-EMAIL, #sharing .inner #mc_embed_signup #mce-FNAME, #sharing .inner #mc_embed_signup #mce-LNAME {
        width: 90%; }
    #sharing .inner .feeds {
      margin: 0 0 15px 0;
      list-style-type: none; }
      #sharing .inner .feeds li {
        margin: 2px 0 2px 0;
        list-style-type: none; }
        #sharing .inner .feeds li a {
          padding: 2px 0 2px 22px;
          margin: 0; }
      #sharing .inner .feeds li.ical a {
        background: url(../../images/iCal.png) no-repeat 2px; }
      #sharing .inner .feeds li.atom a {
        background: url(../../images/feed-icon-14x14.png) no-repeat 2px; }

body #root #content-container #content #main #breadcrumbs {
  margin: 0;
  padding: 0; }
  body #root #content-container #content #main #breadcrumbs .heading {
    margin: 0 0 10px 0;
    padding: 5px 30px 0 5px;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
    color: white; }
    body #root #content-container #content #main #breadcrumbs .heading a {
      color: white; }

body.TwoColumnsLeft #breadcrumbs {
  max-width: 600px; }

body.TwoColumnsRight #breadcrumbs {
  max-width: 700px; }

body.ThreeColumns #breadcrumbs {
  max-width: 400px; }

body .important {
  padding: 5px;
  margin: 5px 0 5px 0;
  background-color: #efefef; }
  body .important li {
    padding: 3px 0 3px 5px;
    list-style-type: none; }
body ul.reset, body ol.reset {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  body ul.reset li, body ol.reset li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
body ul.bullets, body ol.bullets {
  padding: 5px;
  margin: 5px 0 5px 20px; }
  body ul.bullets li, body ol.bullets li {
    padding: 3px 0 3px 5px; }
body ul.bullets {
  list-style-type: disc; }
body ol.bullets {
  list-style-type: decimal; }
body #root #content-container #content #left .block ul.bullets, body #root #content-container #content #left .block ol.bullets, body #root #content-container #content #inner-right .block ul.bullets, body #root #content-container #content #inner-right .block ol.bullets {
  margin: 0 0 10px 15px;
  padding: 0; }
body #root #content-container #content #main ul, body #root #content-container #content #main ol {
  margin: 10px 5px 10px 25px; }
  body #root #content-container #content #main ul li, body #root #content-container #content #main ol li {
    margin: 0;
    padding: 1px 0 1px 3px; }
body #root #content-container #content #main ul {
  list-style-type: disc; }
body #root #content-container #content #main ol {
  list-style-type: decimal; }
body #root #content-container #content #main ul.reset, body #root #content-container #content #main ol.reset {
  margin: 10px 0 10px 0;
  padding: 0;
  list-style-type: none; }
  body #root #content-container #content #main ul.reset li, body #root #content-container #content #main ol.reset li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
body #root #content-container #content #main .important {
  padding: 5px;
  margin: 5px 0 5px 0; }

body.ThreeColumns #root {
  background: url(../../images/bg-3-columns.gif) repeat-y; }
  body.ThreeColumns #root #content-container {
    background: url(../../images/bg-3-columns-head.gif) no-repeat; }
    body.ThreeColumns #root #content-container #content #left {
      display: inline;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: 320px;
      left: -638px;
      position: relative;
      margin: 0 0 30px 0;
      padding: 15px 0 15px 0;
      float: left;
      display: block; }
    body.ThreeColumns #root #content-container #content #main {
      display: inline;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: 638px;
      left: 320.96px;
      position: relative;
      margin: 0 0 15px 0;
      padding: 15px 0 30px 0;
      float: left;
      height: 100%; }
      body.ThreeColumns #root #content-container #content #main #inner-left {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 410px;
        float: left;
        padding: 0 10px 15px 10px; }
      body.ThreeColumns #root #content-container #content #main #inner-right {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 186px;
        margin-right: 0;
        float: right;
        position: relative;
        top: -38px;
        padding: 0 0 15px 0; }

body.TwoColumnsLeft #root {
  background: url(../../images/bg-2-columns-left.gif) repeat-y; }
  body.TwoColumnsLeft #root #content-container {
    background: url(../../images/bg-2-columns-left-head.gif) no-repeat; }
    body.TwoColumnsLeft #root #content-container #content #main {
      display: inline;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: 638px;
      left: 320.96px;
      position: relative;
      margin: 0 0 15px 0;
      padding: 15px 0 30px 0;
      float: left;
      height: 100%; }
      body.TwoColumnsLeft #root #content-container #content #main .inner {
        padding: 0 15px 15px 15px; }
    body.TwoColumnsLeft #root #content-container #content #left {
      display: inline;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: 320px;
      left: -638px;
      position: relative;
      margin: 0 0 30px 0;
      padding: 15px 0 15px 0;
      float: left;
      display: block; }

body.TwoColumnsRight #root {
  background: url(../../images/bg-2-columns-right.gif) repeat-y; }
  body.TwoColumnsRight #root #content-container {
    background: url(../../images/bg-2-columns-right-head.gif) no-repeat; }
    body.TwoColumnsRight #root #content-container #content #main {
      display: inline;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: 950px;
      margin: 0 0 15px 0;
      padding: 15px 0 30px 0;
      float: left;
      height: 100%; }
      body.TwoColumnsRight #root #content-container #content #main #inner-left {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 710px;
        float: left;
        padding: 0 10px 15px 10px; }
      body.TwoColumnsRight #root #content-container #content #main #inner-right {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 186px;
        margin-right: 0;
        float: right;
        position: relative;
        top: -38px;
        padding: 0 0 15px 0; }

body.OneColumn #root {
  background: none; }
  body.OneColumn #root #content-container {
    background: #ffffff url(../../images/bg-1-column-head.gif) repeat-x; }
    body.OneColumn #root #content-container #content #main {
      display: inline;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: 950px;
      margin: 0 0 15px 0;
      padding: 15px 0 30px 0;
      float: left;
      height: 100%; }
      body.OneColumn #root #content-container #content #main .inner {
        padding: 0 15px 15px 15px; }

body.Landing #root {
  background: url(../../images/bg-3-columns-home.gif) repeat-y; }
  body.Landing #root #head-container #head h1#logo {
    text-align: center; }
    body.Landing #root #head-container #head h1#logo a img {
      margin: 0;
      padding: 0; }
  body.Landing #root #content-container {
    background: url(../../images/bg-1-column-head.gif) repeat-x; }
    body.Landing #root #content-container #intro {
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      min-width: 960px;
      background: #fff url(../../images/bg-3-columns-home-head.gif) no-repeat left bottom;
      margin: 15px 0 0 0;
      padding: 0 0 30px 0;
      float: left; }
      body.Landing #root #content-container #intro #slider {
        width: 595px;
        position: relative;
        float: left;
        margin: 0 15px 0 15px; }
        body.Landing #root #content-container #intro #slider .scroll {
          height: 298px;
          overflow: auto;
          clear: left;
          border: 1px solid #efefef; }
          body.Landing #root #content-container #intro #slider .scroll .scrollContainer .panel {
            padding: 10px;
            height: 276px;
            width: 573px; }
            body.Landing #root #content-container #intro #slider .scroll .scrollContainer .panel h2 {
              margin: 0 0 10px 0; }
      body.Landing #root #content-container #intro .scrollButtons {
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 1px 7px;
        cursor: pointer;
        border: 1px solid #c0c0c0;
        background: #efefef;
        z-index: 10000; }
      body.Landing #root #content-container #intro .scrollButtons.left {
        right: 35px; }
      body.Landing #root #content-container #intro #blurb {
        width: 300px;
        height: 300px;
        overflow: hidden;
        padding: 0 10px;
        margin: 0;
        float: left;
        background: #efefef; }
    body.Landing #root #content-container #content #left {
      display: inline;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: 320px;
      left: -638px;
      position: relative;
      margin: 0;
      padding: 0;
      float: left;
      display: block; }
    body.Landing #root #content-container #content #main {
      display: inline;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: 638px;
      left: 305.8px;
      position: relative;
      margin: 0 0 15px 0;
      padding: 0 0 30px 0;
      float: left;
      height: 100%; }
      body.Landing #root #content-container #content #main #inner-left {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 310px;
        float: left;
        padding: 0 0 15px 10px; }
        body.Landing #root #content-container #content #main #inner-left .headline .heading {
          background: #4e0b36 url(../../images/bg-heading1.gif) repeat-y 100% 0; }
      body.Landing #root #content-container #content #main #inner-right {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 300px;
        margin-right: 0;
        float: right;
        padding: 0 0 15px 0; }
