html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1;
  color: #000;
  background: #fff; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: "" ""; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

a img {
  border: none; }

html, body {
  height: 100%; }

#root {
  min-height: 100%;
  margin-bottom: -15px; }
  #root #root-foot {
    height: 15px; }

#foot-container {
  clear: both;
  position: relative;
  height: 15px; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #666;
  height: 100%;
  background: url(../../images/bg-body.jpg);
  line-height: 18px; }
  body strong {
    font-weight: bold; }
  body em {
    font-style: italic; }
  body a {
    color: #999732;
    text-decoration: underline; }
  body a:hover {
    text-decoration: none; }
  body h1, body h2, body h3, body h4 {
    font-family: Tahoma;
    font-weight: 100;
    margin: 15px 0 15px 0;
    padding: 0; }
  body h1 {
    color: #63284e;
    font-size: 26px; }
  body h2 {
    color: #339a99;
    font-size: 22px; }
  body h3 {
    color: #333333;
    font-size: 20px; }
  body h4 {
    color: #333333;
    font-size: 17px;
    margin: 3px 0 3px 0; }
  body p {
    margin: 10px 0 10px 0; }
  body #root {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    min-width: 960px;
    background: url(../../images/bg-main4.gif) repeat-y; }
    body #root #head-container {
      overflow: hidden;
      display: inline-block; }
      body #root #head-container {
        display: block; }
      body #root #head-container #head {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        min-width: 960px;
        border-top: 6px solid #e6e6e6;
        background-color: white; }
        body #root #head-container #head .top {
          display: inline;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
          width: 950px;
          padding-top: 5px; }
          body #root #head-container #head .top span {
            float: left;
            padding: 0 0 0 10px;
            font-size: 11px;
            line-height: 15px; }
          body #root #head-container #head .top ul {
            float: left;
            white-space: nowrap; }
            body #root #head-container #head .top ul li {
              float: left;
              background: url(../../images/divider-header.gif) no-repeat 0 4px;
              padding: 0 5px 0 6px;
              font-size: 11px;
              line-height: 15px; }
            body #root #head-container #head .top ul li:first-child {
              background: none; }
          body #root #head-container #head .top .search-frm {
            float: right;
            margin: 0 10px 0 0;
            display: inline; }
            body #root #head-container #head .top .search-frm .text {
              float: left;
              width: 175px;
              height: 16px;
              padding: 1px 5px; }
            body #root #head-container #head .top .search-frm .btn {
              float: left;
              margin: 0 0 0 4px; }
        body #root #head-container #head h1#logo a img {
          margin: 20px 0 15px 23px; }
    body #root #content-container {
      display: inline-block;
      background: url(../../images/bg-main-holder2.gif) no-repeat; }
      body #root #content-container:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden; }
      body #root #content-container {
        display: block; }
      body #root #content-container #content {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        min-width: 960px;
        display: inline-block; }
        body #root #content-container #content:after {
          content: " ";
          display: block;
          height: 0;
          clear: both;
          overflow: hidden;
          visibility: hidden; }
        body #root #content-container #content {
          display: block; }
        body #root #content-container #content #left {
          display: inline;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
          width: 320px;
          left: -638px;
          position: relative;
          margin: 0;
          padding: 15px 0 0 0;
          float: left;
          display: block; }
        body #root #content-container #content #main {
          display: inline;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
          width: 638px;
          left: 320.96px;
          position: relative;
          margin: 0;
          padding: 15px 0 30px 0;
          float: left;
          height: 100%; }
          body #root #content-container #content #main #inner-left {
            display: inline;
            float: left;
            margin-left: 5px;
            margin-right: 5px;
            width: 410px;
            float: left;
            padding: 0 10px 0 10px; }
          body #root #content-container #content #main #inner-right {
            display: inline;
            float: left;
            margin-left: 5px;
            margin-right: 5px;
            width: 186px;
            margin-right: 0;
            float: right;
            position: relative;
            top: -38px; }
  body #foot-container #foot {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    min-width: 960px;
    padding: 15px 0 25px 0;
    background: url(../../images/bg-footer.gif) repeat-x;
    background-color: #999732; }
    body #foot-container #foot .copyright {
      float: right;
      color: white;
      font-size: 11px;
      margin: 0 15px 0 0;
      display: inline; }
    body #foot-container #foot ul li {
      float: left;
      background: url(../../images/divider-footer.gif) no-repeat 0 3px;
      padding: 0 8px 0 9px;
      font-size: 11px; }
      body #foot-container #foot ul li a {
        color: white;
        text-decoration: none; }
      body #foot-container #foot ul li a:hover {
        text-decoration: underline; }
    body #foot-container #foot ul li:first-child {
      background: none; }

body #root #content-container #content .headline {
  width: 100%;
  overflow: hidden; }
  body #root #content-container #content .headline .heading {
    height: 29px;
    max-width: 400px;
    float: left;
    background: #9acccd url(../../images/bg-heading2.gif) repeat-y 100% 0;
    margin: 1px 0 15px 0; }
    body #root #content-container #content .headline .heading strong {
      color: #fff;
      display: block;
      margin: 5px 0 0 10px;
      font-size: 16px;
      font-weight: normal; }
  body #root #content-container #content .headline .btn-rss {
    float: right;
    background: url(../../images/ico-rss.gif) no-repeat;
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 30px 25px 0 0;
    display: inline; }
body #root #content-container #content .block {
  margin: 0 0 20px 0; }
  body #root #content-container #content .block .inner {
    padding: 0 5px 5px 27px; }
body #root #content-container #content #left .block .headline .heading {
  width: 238px;
  background: #666 url(../../images/bg-heading.gif) no-repeat 100% 0; }
body #root #content-container #content #left .block .headline .btn-rss {
  margin: 30px 25px 0 0; }
body #root #content-container #content #main #inner-right .block .headline .heading {
  width: 170px;
  background: #9acccd url(../../images/bg-heading2.gif) no-repeat 100% 0; }
  body #root #content-container #content #main #inner-right .block .headline .heading strong {
    color: #333; }
body #root #content-container #content #main #inner-right .block .headline .btn-rss {
  margin: 0 18px 0 0; }

body #root #content-container #content #left #upcoming-events {
  margin: 15px 0 15px 0; }

body #root #content_container #content ol.tag_cloud {
  float: left;
  text-align: justify; }
  body #root #content_container #content ol.tag_cloud li {
    float: left;
    line-height: 26px;
    padding: 0 4px 0 0; }
    body #root #content_container #content ol.tag_cloud li a {
      text-decoration: none; }
    body #root #content_container #content ol.tag_cloud li a:hover {
      text-decoration: underline; }
    body #root #content_container #content ol.tag_cloud li span {
      position: absolute;
      left: -10000px;
      width: 100px; }
  body #root #content_container #content ol.tag_cloud .size1 {
    font-size: 1.0em; }
  body #root #content_container #content ol.tag_cloud .size2 {
    font-size: 1.2em; }
  body #root #content_container #content ol.tag_cloud .size3 {
    font-size: 1.4em; }
  body #root #content_container #content ol.tag_cloud .size4 {
    font-size: 1.6em; }
  body #root #content_container #content ol.tag_cloud .size5 {
    font-size: 1.8em; }
  body #root #content_container #content ol.tag_cloud .size6 {
    font-size: 2.0em; }
  body #root #content_container #content ol.tag_cloud .size7 {
    font-size: 2.2em; }
  body #root #content_container #content ol.tag_cloud .size8 {
    font-size: 2.4em; }
  body #root #content_container #content ol.tag_cloud .size9 {
    font-size: 2.6em; }
  body #root #content_container #content ol.tag_cloud .size10 {
    font-size: 2.8em; }
body #root #content_container #content #left .tag-cloud-container {
  padding: 15px 5px 15px 10px;
  margin: 0; }
body #root #content_container #content #left ol.tag_cloud {
  width: 175px;
  margin-bottom: 10px; }

input[type=text], textarea {
  width: 250px;
  height: 18px;
  padding-top: 4px;
  font-size: 16px;
  border: 1px solid #ccc; }
  input[type=text]:active, input[type=text]:focus, textarea:active, textarea:focus {
    border-color: = "#111111"; }

textarea {
  width: 400px;
  height: 150px; }

#form_contact {
  margin: 20px 0 0 10px; }

#sitemap li {
  margin-bottom: 5px; }
#sitemap ul {
  margin: 5px; }
  #sitemap ul li {
    margin-left: 10px; }

body #root #head-container #head #nav {
  overflow: hidden;
  background: url(../../images/bg-nav.gif) repeat-x;
  margin-top: 11px; }
  body #root #head-container #head #nav ul {
    margin: 8px 0 0 0;
    padding: 0;
    text-align: center;
    line-height: 22px; }
    body #root #head-container #head #nav ul li {
      float: left;
      padding: 0 0 0 40px;
      font-size: 11px;
      text-transform: uppercase; }
      body #root #head-container #head #nav ul li a {
        color: #676767;
        text-decoration: none; }
      body #root #head-container #head #nav ul li a:hover {
        text-decoration: underline; }
    body #root #head-container #head #nav ul li:first-child {
      padding-left: 23px; }
body #root #content-container #content #left #secondary-nav {
  color: #666;
  margin: 0;
  padding: 5px 0 0 0;
  background: url(../../images/bg-main2.gif) repeat-y; }
  body #root #content-container #content #left #secondary-nav h2 {
    margin: 0 0 10px 15px;
    font-weight: normal;
    color: #63284e; }
  body #root #content-container #content #left #secondary-nav h3 {
    margin: 10px 0 5px 15px;
    font-weight: normal;
    font-size: 14px; }
  body #root #content-container #content #left #secondary-nav ul {
    background: url(../../images/left-nav-bg.gif) repeat-y;
    width: 321px;
    margin: 0 0 15px 0;
    padding: 0;
    border-top: 1px solid #e6e6e6; }
    body #root #content-container #content #left #secondary-nav ul li {
      margin: 0;
      padding: 0;
      width: 321;
      border-bottom: 1px solid #e6e6e6;
      list-style-type: none; }
      body #root #content-container #content #left #secondary-nav ul li a {
        background: url(../../images/arrow-right-gray.gif) no-repeat 270px center;
        padding: 8px 0 8px 25px;
        display: block;
        width: 296px;
        color: #666;
        text-decoration: none;
        text-transform: uppercase; }
    body #root #content-container #content #left #secondary-nav ul li.level-2 a {
      text-indent: 10px; }
    body #root #content-container #content #left #secondary-nav ul li.level-3 a {
      text-indent: 25px; }
    body #root #content-container #content #left #secondary-nav ul li.level-4 a {
      text-indent: 40px; }
    body #root #content-container #content #left #secondary-nav ul li.level-5 a {
      text-indent: 55px; }
    body #root #content-container #content #left #secondary-nav ul li.level-6 a {
      text-indent: 70px; }
    body #root #content-container #content #left #secondary-nav ul li.active a, body #root #content-container #content #left #secondary-nav ul li a:hover {
      background-color: #fff; }

body #root #content-container #content #left #featured-member {
  background: url(../../images/bg-main2.gif) repeat-y;
  margin: 0 0 0 0;
  padding: 0 0 15px 0; }
  body #root #content-container #content #left #featured-member .inner {
    padding: 0;
    margin: 0 auto;
    width: 282px; }
    body #root #content-container #content #left #featured-member .inner .logo {
      display: block;
      background: url(../../images/bg-image-holder.jpg) no-repeat;
      width: 271px;
      height: 236px;
      padding: 10px 0 0 11px;
      margin: 0 auto;
      overflow: hidden; }
    body #root #content-container #content #left #featured-member .inner h3 {
      margin: 15px 0 15px 0; }
      body #root #content-container #content #left #featured-member .inner h3 a {
        color: #339a99;
        font-size: 18px;
        line-height: 22px;
        font-weight: normal;
        text-decoration: none; }
    body #root #content-container #content #left #featured-member .inner .more {
      text-align: right;
      margin: 15px 5px 0 0; }

body #root #content-container #content ul.feeds {
  margin: 0 0 15px 0; }
  body #root #content-container #content ul.feeds li a {
    background: url(../../images/feed-icon-14x14.png) no-repeat 2px;
    padding: 2px 0 2px 20px;
    margin: 0; }
body #root #content-container #content #main #inner-right #sharing {
  margin-top: 0;
  padding-top: 0;
  font-size: 12px; }
  body #root #content-container #content #main #inner-right #sharing .inner {
    margin-top: 0;
    padding-top: 0; }
    body #root #content-container #content #main #inner-right #sharing .inner p {
      margin: 0 0 5px 0;
      padding: 0; }
    body #root #content-container #content #main #inner-right #sharing .inner #mc_embed_signup {
      margin: 0 0 15px 0;
      padding: 0; }
      body #root #content-container #content #main #inner-right #sharing .inner #mc_embed_signup #mce-EMAIL, body #root #content-container #content #main #inner-right #sharing .inner #mc_embed_signup #mce-FNAME, body #root #content-container #content #main #inner-right #sharing .inner #mc_embed_signup #mce-LNAME {
        width: 130px; }

body #root #content-container #content #main #breadcrumbs {
  margin: 0;
  padding: 0;
  width: 400px; }
  body #root #content-container #content #main #breadcrumbs .heading {
    margin: 0 0 10px 0;
    padding: 5px 30px 0 5px;
    height: 22px;
    color: white; }
    body #root #content-container #content #main #breadcrumbs .heading a {
      color: white; }

body.TwoColumns #root {
  background: none; }
  body.TwoColumns #root #content-container {
    background: url(../../images/bg-main5.gif) repeat-y; }
    body.TwoColumns #root #content-container #content {
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      min-width: 960px;
      display: inline-block;
      background: url(../../images/bg-main-holder4.gif) no-repeat; }
      body.TwoColumns #root #content-container #content:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden; }
      body.TwoColumns #root #content-container #content {
        display: block; }
      body.TwoColumns #root #content-container #content #main {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 638px;
        left: 320.96px;
        position: relative;
        margin: 0;
        padding: 15px 0 30px 0;
        float: left;
        height: 100%; }
        body.TwoColumns #root #content-container #content #main .inner {
          padding: 0 15px 0 15px; }

body.Home #root {
  background: none; }
  body.Home #root #head-container #head h1#logo {
    text-align: center; }
    body.Home #root #head-container #head h1#logo a img {
      margin: 0;
      padding: 0; }
  body.Home #root #content-container {
    background: url(../../images/bg-main.gif) repeat-y; }
    body.Home #root #content-container #content {
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      min-width: 960px;
      display: inline-block;
      background: url(../../images/bg-main-holder.gif) no-repeat; }
      body.Home #root #content-container #content:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden; }
      body.Home #root #content-container #content {
        display: block; }
      body.Home #root #content-container #content #left {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 320px;
        left: -638px;
        position: relative;
        margin: 0;
        padding: 15px 0 0 0;
        float: left;
        display: block;
        border: 1px solid red; }
      body.Home #root #content-container #content #main {
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 638px;
        left: 320.96px;
        position: relative; }
        body.Home #root #content-container #content #main #inner-left {
          display: inline;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
          width: 410px;
          float: left;
          padding: 0 10px 0 10px;
          border: 1px solid blue; }
        body.Home #root #content-container #content #main #inner-right {
          display: inline;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
          width: 186px;
          position: relative;
          top: 0;
          border: 1px solid green; }
