body{
  margin:0;
  background:url(../images/bg-body.jpg);
  font:12px Arial, Helvetica, sans-serif;
  color:#666;
}
img{border-style:none;}
a{
  color:#999732;
  text-decoration:underline;
}
a:hover{text-decoration:none;}
input,
textarea,
select{
  font:100% arial,sans-serif;
  vertical-align:middle;
}
h1 {
  text-align: left;
  color: #63284e;
  font-size: 26px;
  font-family: Tahoma;
  font-weight: 100;
  margin: 20px 0 20px 0;
  padding: 0;
}
h2 {
  text-align: left;
  color: #63284e;
  font-size: 22px;
  font-weight: 100;
  margin: 20px 0 20px 0;
  padding: 0;
}
h3, .body h1, .entry.clearing h1 {
  text-align: left;
  color: #339a99;
  font-size: 20px;
  font-weight: 100;
  margin: 10px 0 10px 0;
  padding: 0;
}
h4, .body h2, .entry.clearing h2, form h2 {
  text-align: left;
  color: #333;
  font-size: 17px;
  font-weight: 100;
  margin: 3px 0 3px 0;
  padding: 0;
}
h5, .body h3, .entry.clearing h3 {
  text-align: left;
  color: #333;
  font-size: 14px;
  font-weight: 100;
  margin: 3px 0 3px 0;
  padding: 0;
}
h6, .body h4, .entry.clearing h4 {
  text-align: left;
  color: #333;
  font-size: 13px;
  font-weight: 100;
  margin: 3px 0 3px 0;
  padding: 0;
}
h7, .body h5, .body h6, .body h7, .entry.clearing h5, .entry.clearing h6, .entry.clearing h7 {
  text-align: left;
  color: #333;
  font-size: 12px;
  font-weight: 100;
  margin: 3px 0 3px 0;
  padding: 0;
}
.content h2 a  {
  margin: 20px 0 20px 0;
  color: #63284e;
  text-decoration: none;
  font-size: 26px;
  font-family: Tahoma;
  font-weight: 100;
}
.visible_for {
	display: none;
}
.anonymous {
	display: auto;
}
#wrapper{
  width:960px;
  margin:0 auto;
  background:#fff;
}
#header{
  width:100%;
  overflow:hidden;
  border-top:6px solid #e6e6e6;
}
#header .sub-nav{
  width:100%;
  overflow:hidden;
  padding:5px 0 0;
}
.search-frm{
  float:right;
  margin:0 10px 0 0;
  display:inline;
}
.search-frm .text{
  float:left;
  width:175px;
  height:16px;
  padding:1px 5px;
  border:1px solid #ccc;
}
.search-frm .btn{
  float:left;
  margin:0 0 0 4px;
}
#header .sub-nav span{
  float:left;
  padding:0 0 0 10px;
  font-size:11px;
  line-height:15px;
}
#header .sub-nav ul li span{
  float: none;
  padding:0;
}
#header .sub-nav ul{
  float:left;
  list-style:none;
  margin:0;
  padding:0;
}
#header .sub-nav ul li{
  float:left;
  background:url(../images/divider-header.gif) no-repeat 0 4px;
  padding:0 5px 0 6px;
  font-size:11px;
  line-height:15px;
}
#header .sub-nav ul li:first-child{background:none;}
#header .logo{
  display:block;
  margin:15px 0 15px 23px;
  width:303px;
}
#header .logo a{
  display:block;
  background:url(../images/logo2.gif) no-repeat;
  width:596px;
  height:60px;
  text-indent:-9999px;
  overflow:hidden;
}
#nav{
  width:100%;
  overflow:hidden;
  background:url(../images/bg-nav.gif) repeat-x;
  margin:11px 0 0;
}
#nav ul{
  float:left;
  list-style:none;
  margin:8px 0 0;
  padding:0;
  width: 100%;
  text-align: center;
  line-height: 22px;
}
#nav ul li{
  float:left;
  padding:0 0 0 40px;
  font-size:11px;
  text-transform:  uppercase;
}
#nav ul li:first-child{padding-left:23px;}
#nav ul li a{
  color:#676767;
  text-decoration:none;
}
#nav ul li a:hover{text-decoration:underline;}
#nav .sub-nav{
  float:right;
  background:url(../images/bg-sub-nav.jpg) no-repeat 0 2px;
  margin:8px 22px 0 0;
  display:inline;
}
#nav .sub-nav li{
  float:left;
  padding-left:46px;
}
#nav .sub-nav li:first-child{padding-left:26px;}
#nav .sub-nav li a{
  text-decoration:none;
  color:#32989a;
}
#main{
  width:100%;
  background:url(../images/bg-main4.gif) repeat-y;
  margin:6px 0 0;
  padding: 0;
  text-align: left;
}
#main .main-holder{
  width:100%;
  overflow:hidden;
  background:url(../images/bg-main-holder2.gif) no-repeat;
  padding:0 0 31px;
}
#main .col1{
  float:left;
  width:321px;
  margin: 0;
  padding: 0;
}
#main .col1 #secondary-nav {
  color: #666;
  margin: 20px 0 20px 0;
}
#main .col1 #secondary-nav h2 {
  margin: 10px 0 5px 15px;
  font-weight: normal;
}
#main .col1 #secondary-nav h3 {
  margin: 10px 0 5px 15px;
  font-weight: normal;
  font-size: 14px;
}
#main .col1 #secondary-nav ul {
  background:url(../images/left-nav-bg.gif) repeat-y;
  width: 321px;
  float: left;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e6e6e6;
}
#main .col1 #secondary-nav ul li {
  margin: 0;
  padding: 0;
  width: 321;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
}
#main .col1 #secondary-nav ul li a {
  background: url(../images/arrow-right-gray.gif) no-repeat 270px center;
  padding: 8px 0 8px 25px;
  display: block;
  width: 296px;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
}
#main .col1 #secondary-nav ul li.level-2 a {text-indent: 10px;}
#main .col1 #secondary-nav ul li.level-3 a {text-indent: 25px;}
#main .col1 #secondary-nav ul li.level-4 a {text-indent: 40px;}
#main .col1 #secondary-nav ul li.level-5 a {text-indent: 55px;}
#main .col1 #secondary-nav ul li.level-6 a {text-indent: 70px;}
#main .col1 #secondary-nav ul li.active a, #main .col1 #secondary-nav ul li a:hover {
  background-color: #fff;
}
#main .col1 #secondary-nav ul li.cloud {
  margin: 5px 25px 20px 25px;
  padding: 0;
  border: none;
  text-align: justify;
}
#main .col1 #secondary-nav ul li.cloud a { 
  padding: 0;
  margin: 3px;
  display: inline;
  width: auto;
  text-decoration: none;
  text-transform: none;
  border: none;
  background: none;
}
.t1  {font-size: 1.0em;}
.t2 {font-size: 1.2em;}
.t3 {font-size: 1.4em;}
.t4 {font-size: 1.6em;}
.t5 {font-size: 1.8em;}
.t6 {font-size: 2.0em;}
#main .headline{
  width:100%;
  overflow:hidden;
}
#main .headline h2{
  font-size:19px;
  line-height:24px;
  color:#fff;
  background:#666;
  float:left;
  font-weight:normal;
  padding:11px 17px 5px 21px;
  margin:20px 0 0;
}
#main .image-holder{
  background:url(../images/bg-image-holder.jpg) no-repeat;
  width:271px;
  height:236px;
  padding:10px 0 0 11px;
  margin:11px 0 0 20px;
}
#main .image-holder img{display:block;}
#main .col1 .content{
  background:url(../images/bg-main2.gif) repeat-y;
  height:1%;
  overflow:hidden;
  margin:20px 0 0 0;
}
#main .col1 .content h3{
  color:#339a99;
  font-size:18px;
  line-height:22px;
  font-weight:normal;
  margin:9px 0 0;
}
#main .col1 .content p{
  margin:18px 0 0;
  line-height:18px;
}
#main .col1 .content img{
  margin: 0 auto;
  display: block;
  max-width: 300px;
  max-height: 250px;
}
.links-list{
  list-style:none;
  margin:20px 0 0;
  padding:0;
  float:right;
}
.links-list li{
  float:left;
  background:url(../images/divider-header.gif) no-repeat 0 2px;
  padding:0 6px 0 7px;
  line-height:14px;
}
.links-list li a{
  text-decoration:none;
  margin:0;
  float:none;
}
.links-list li a:hover{text-decoration:underline;}
.links-list li:first-child{background:none;}
.btn-more{
  background:url(../images/arrow3.gif) no-repeat 100% 3px;
  padding:0 9px 0 0;
  float:right;
  text-decoration:none;
  margin:14px 18px 0 0;
  line-height:15px;
}
.btn-more:hover{text-decoration:underline;}
#main .col1 .heading{
  width:238px;
  height:29px;
  overflow:hidden;
  background:#666 url(../images/bg-heading.gif) no-repeat 100% 0;
  margin:31px 0 0;
}
#main .col1 .heading strong{
  color:#fff;
  display:block;
  margin:5px 0 0 19px;
  font-size:16px;
  font-weight:normal;
}
#main .col1 .bottom {
  float: left;
  width: 100%;  
  margin: 0;
  padding: 0;
  background:url(../images/left-nav-bg.gif) repeat-y;
}
#main .gallery{
  list-style:none;
  margin:13px 0 0 11px;
  padding:0;
}
#main .gallery li{
  float:left;
  margin:7px 0 0 9px;
  display:inline;
}
#main .gallery li a{
  background:url(../images/bg-gallery-el.gif) no-repeat;
  width:136px;
  height:136px;
  display:block;
}
#main .col2{
  float:left;
  width:450px;
  text-align: justify;
}
#main .col2 .headline{
  width:100%;
  overflow:hidden;
  margin:20px 0 0;
  vertical-align: middle;
}
#main .col2 .headline a {color: #fff;}
#main .col2 .headline ul {
  margin: 0 40px 0 0;
  padding: 0 0 8px 14px;
  color: #fff;
}
#main .col2 .headline ul li {
  float: left;
  list-style-type: none;
  padding:0 15px 0 7px;
  margin-top: 6px;
  background:url(../images/raquo.gif) no-repeat right 4px;
}
#main .col2 .headline ul li:first-child{padding-left: 0;}
#main .col2 .headline ul li:last-child{background:none; margin-right: 20px;}
#main .col2 .headline .btn-rss{
  float:right;
  background:url(../images/ico-rss.gif) no-repeat;
  width:31px;
  height:31px;
  text-indent:-9999px;
  overflow:hidden;
  margin:0 12px 0 0;
  display:inline;
}
#main .col2 .heading{
  max-width:400px;
  float: left;
  background:#9acccd url(../images/bg-heading2.gif) repeat-y 100% 0;
  margin:1px 0 0;
}
#main .col2 .heading strong{
  color:#fff;
  display:block;
  margin:5px 0 0 10px;
  font-size:16px;
  font-weight:normal;
}
#main .col2 .content {
  padding: 5px 20px;
}
#main .col2 .content .content {padding: 0;}
#main .news-list{
  height:1%;
  overflow:hidden;
  padding:0 12px 11px 25px;
}
#main .news-list ul{
  list-style:none;
  margin:0;
  padding:0;
}
#main .news-list ul li{
  width:100%;
  vertical-align:top;
  overflow:hidden;
  margin:20px 0 0;
}
#main .news-list ul li:first-child{margin-top:0;}
#main .date{
  background:url(../images/bg-doted.gif) repeat-x 0 100%;
  display:block;
  width:100%;
  overflow:hidden;
  font-size:11px;
  margin:17px 0 0;
  padding:0 0 9px;
  color:#7d7d7d;
  text-transform: uppercase;
}
#main .news-list h3{
  color:#339a99;
  font-size:18px;
  line-height:22px;
  font-weight:normal;
  margin:6px 0 0;
}
#main .news-list h3 a{
  color:#339a99;
  text-decoration:none;
}
#main .news-list h3 a:hover{text-decoration:underline;}
#main .news-list p{
  margin:1px 0 0;
  line-height:18px;
}
#main .news-list p .author{color:#b3b3b3;}
#main .news-list p a.more{
  background:#989933 url(../images/arrow5.gif) no-repeat 100% 4px;
  color:#fff;
  text-decoration:none;
  padding:1px 10px 1px 4px;
  font-size:10px;
  line-height:14px;
}
#main .news-list p a.more:hover{text-decoration:underline;}
#main .news-list .comment-counter{
  background:#4e0d35 url(../images/ico-comment.gif) no-repeat 100% 1px;
  padding:1px 18px 1px 3px;
  margin:0 0 0 6px;
  color:#fff;
  line-height:14px;
  font-size:10px
}
#main .col3{
  width:180px;
  float:left;
}
#main .col3 .headline{
  width:100%;
  overflow:hidden;
  margin:20px 0 0;
}
#main .col1 .headline .btn-rss{
  float:right;
  background:url(../images/ico-rss.gif) no-repeat;
  width:31px;
  height:31px;
  text-indent:-9999px;
  overflow:hidden;
  margin:30px 25px 0 0;
  display:inline;
}
#main .col3 .headline .btn-rss{
  float:right;
  background:url(../images/ico-rss.gif) no-repeat;
  width:31px;
  height:31px;
  text-indent:-9999px;
  overflow:hidden;
  margin:0 18px 0 0;
  display:inline;
}
#main .col3 .heading{
  width:160px;
  height:29px;
  overflow:hidden;
  background:#9acccd url(../images/bg-heading2.gif) no-repeat 100% 0;
  margin:1px 0 0;
}
#main .col3 .heading strong{
  color:#333;
  display:block;
  margin:5px 0 0 10px;
  font-size:16px;
  font-weight:normal;
}
#main .col3 .content{
  height:1%;
  padding:0 19px 0 28px;
  margin-top: 15px;
  overflow:hidden;
}
#main .col3 .date{
  font-size:14px;
  margin:17px 0 0;
  padding:0 0 7px;
  color:#666;
}
#main .col3 .date a{
  float:right;
  background:url(../images/arrow3.gif) no-repeat 100% 3px;
  text-decoration:none;
  padding:0 9px;
  font-size:12px;
  margin:1px 0 0;
}
#main .col3 .date a:hover{text-decoration:underline;}
#main .col1 .events-list.content{
  background:url(../images/bg-main3.gif) repeat-y;
  height:1%;
  padding:0 19px 0 28px;
  margin: 0;
  overflow:hidden;
}
#main .events-list{
  list-style:none;
  margin:0;
  padding:0;
}
#main .events-list li{
  width:100%;
  overflow:hidden;
  vertical-align:top;
  margin:16px 0 0;
  padding:0 0 7px;
}
#main .events-list li div{
  padding-bottom:3px;
  font-size: 11px;
}
#main .events-list li div.title{
  text-transform: uppercase;
  font-size: 12px;
}
#main .events-list a{
  color:#339a99;
  text-decoration:none;
  font-size:11px;
}
#main .events-list a:hover{text-decoration:underline;}
#main .btn-more{margin-right:2px;}
#main .resources-list{
  list-style:none;
  margin:0;
  padding:0 0 6px;
}
#main .resources-list li{
  width:100%;
  overflow:hidden;
  vertical-align:top;
  margin:17px 0 0;
}
#main .resources-list li span{
  float:left;
  background:#666;
  color:#fff;
  margin:0 13px 0 0;
  padding:0 4px;
  line-height:17px;
  font-size:10px;
}
* html #main .resources-list li span{margin-right:10px;}
#main .resources-list li a{
  display:block;
  height:1%;
  overflow:hidden;
  color:#35999b;
  text-decoration:none;
  line-height:18px;
}
#main .resources-list li a:hover{text-decoration:underline;}
#main .box{
  height:1%;
  overflow:hidden;
  padding:0 19px 0 20px;
}
#main .box p{
  line-height:18px;
  margin:16px 0 0;
}
#main .box .elemens-list{
  list-style:none;
  margin:1px 0 0;
  padding:0;
}
#main .box .elemens-list li{
  width:100%;
  overflow:hidden;
  vertical-align:top;
  background:#f2f2f2 url(../images/bg-el.gif) no-repeat;
  margin:6px 0 0;
  font-size:11px;
}
#main .box .elemens-list li .frame{
  background:url(../images/bg-el-frame.gif) no-repeat 0 100%;
  height:1%;
  overflow:hidden;
  padding:3px 10px 7px;
  display:block;
}
#main .box .links-list{
  font-size:11px;
  margin:8px -7px 0 0;
  display:inline;
}
#main .action-list{
  list-style:none;
  margin:0 0 0 18px;
  padding:21px 0 0;
  overflow:hidden;
}
#main .action-list li{
  float:left;
  margin:0 0 0 10px;
  display:inline;
}
#main .action-list li a{
  background:url(../images/ico-1.gif) no-repeat;
  display:block;
  width:20px;
  height:19px;
  text-indent:-9999px;
  overflow:hidden;
}
#main .action-list li.rss a{background:url(../images/ico-rss1.gif) no-repeat;}
#main .action-list li.mail a{background:url(../images/ico-mail.gif) no-repeat;}
#footer{
  width:100%;
  overflow:hidden;
  background:#989933 url(../images/bg-footer.gif) repeat-x;
  padding:17px 0 15px;
}
#footer .copyright{
  float:right;
  color:#fff;
  font-size:11px;
  margin:0 20px 0 0;
  display:inline;
}
#footer ul{
  list-style:none;
  margin:0;
  padding:0;
}
#footer ul li{
  float:left;
  background:url(../images/divider-footer.gif) no-repeat 0 3px;
  padding:0 8px 0 9px;
  font-size:11px;
}
#footer ul li:first-child{background:none;}
#footer ul li a{
  color:#fff;
  text-decoration:none;
}
#footer ul li a:hover{text-decoration:underline;}
#centered_box {
  margin: 0 auto;
  width: 600px;
}
.flash {
  color: #339a99;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
#comments ol {
  margin-bottom: 20px; 
  text-align: left;
}
#comment_body {
  width: 400px;
  height: 90px;
}
#registered_author {color:#753c61;}
#registered_author span {font-weight: bold;}
#anonymous_author label {width: 75px; float: left; padding-top: 4px;}
#anonymous_author input {width: 200px; margin: 0;}
.datetime {
  border: none;
}
h2.list_header {
  margin: 20px 0 20px 0;
  color: #666
}
.body img, .body .image-left img {
  float: left;
  margin: 1px 10px 3px 0;
  max-width: 250px;
  padding: 2px;
  border: 1px solid #d0d0d0;
}
.body .image-center img {
  margin: 15px auto;
  max-width: 400px;
  display: block;
}
.body .image-right img {
  float: right;
  margin: 3px 0 3px 10px;
}

#events ul {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 210px;
  overflow: hidden;
}
#events ul li {
  margin: 0;
  padding: 3px 0 3px 0;
}
#events .empty {
  float: left; 
  text-align: left; 
}
#calendar {
  float: right;
  margin: 0 0 15px 0;
  padding: 4px;
  background: #eadee6;
  color: #63284e;
}
#calendar a {color: #339a99;}
#calendar th {text-align: center;}
#calendar td {
  width: 20px;
  padding: 3px 0 3px 0;
  text-align: center;
}
#calendar td.day_with_events {
  width: auto;
  padding: 0;
}
#calendar td.day_with_events a {
  color: #fff; 
  width: 20px;
  padding: 3px 0 3px 0;
  text-align: center;
  background: #84496f;
  display: block;
}
/*#calendar td.today {background: #339a99; color: #fff;}
#calendar td.today.day_with_events a {
  color: #fff; 
  width: 16px;
  padding: 1px 0 1px 0;
  text-align: center;
  background: #339a99;
  border: 3px solid #84496f;
  display: block;
}*/


#sharing {
  padding: 15px 0 15px 20px;
}
#sharing h5 {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
  color: #666;
}
#sharing ul {
  margin: 0 0 15px 5px;
  padding: 0;
  clear: left;
}
#sharing ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
}
#sharing ul li a {
  padding: 2px 0 4px 25px;
  background: url(../images/ico-rss1.gif) no-repeat;
}
#sharing .addthis_toolbox {
  clear: left;
  padding-bottom: 15px;
}
#sharing form {margin-bottom: 15px;}
#sharing form a {position: relative; left: 5px;}
#sharing form #email {
  width: 130px;
  float: left;
  margin: 0 2px 2px 3px;
}
#sharing form #subsub {
  position: relative; 
  top: 2px;
}
#sharing #subscribed {margin: 0 0 3px 2px}
#sharing small {clear:both; float: left; margin-bottom: 15px;}

#search-results .search-frm{
  float:none;
  margin:0;
  display:block;
}
#search-results .suggestion {
  clear: both;
  padding: 20px 0 0 0;
  font-size: 15px;
}
#search-results ul {
  padding: 20px 10px 10px 10px;
  margin: 0;
  list-style-type: none;
  clear: both;
}
#search-results ul li {margin-bottom: 30px;}
#search-results ul.types {
  margin: 25px 0 10px 0;
  padding: 0;
  float: left;
}
#search-results ul.types li {
  float: left; 
  padding: 0;
  margin: 5px 0 0 0;
  border-bottom: 1px solid #c0c0c0;
}
#search-results ul.types li a {
  color: #63284e;
  border: 1px solid #c0c0c0;
  border-bottom: none;
  padding: 5px;
  margin: 0 1px 0 1px;
  line-height: 23px;
}
#search-results ul.types li.active a, #search-results ul.types li a:hover {
  background-color: #8c5578;
  color: #fff;
}
#search-results .details {
  color #999; 
  font-weight: normal;
}
#search-results .match {
  font-weight: bold;
}

.entry.clearing {
  margin-bottom: 45px;
}

.newsletters {
  margin: 5px 0 15px 0; 
  padding: 0;
}
.newsletters li {
  list-style-type: none;
  margin: 0;
  padding: 5px 0 5px 0;
}
.newsletters li h3 {padding: 0; margin: 0}
.newsletters li a {
  font-size: 14px;
}

.ajax-loader {
  text-align: center;
}
.ajax-loader img {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
}

.pagination {
  text-align: center;
  padding: .3em; 
  margin-top: 15px;}
.pagination a, .pagination span {
  padding: .2em .5em; }
.pagination span.disabled {
  color: #AAA; }
.pagination span.current {
  font-weight: bold;
  color: #63284e; }
.pagination a {
  border: 1px solid #DDDDDD;
  color: #999732;
  text-decoration: none; }
  .pagination a:hover, .pagination a:focus {
    border-color: #999732;
    background: #999732;
    color: white; }
.pagination .page_info {
  color: #aaa;
  padding-top: .8em; }
.pagination .prev_page, .pagination .next_page {
  border-width: 2px; }
.pagination .prev_page {
  margin-right: 1em; }
.pagination .next_page {
  margin-left: 1em; }

