fieldset {
  border:none;
  margin: 0;
  padding: 0;
}
form input[type=text], form input[type=password] {
  width: 275px;
  display: block;
}
form input[type=submit] {
  margin-left: 100px;
}
form h2 {
  position: relative;
  left: 35px;
}
form input[type=radio], form input[type=checkbox] {
  margin-left: 105px;
}
form textarea {
  width: 280px;
  height: 90px;
}
form label {
  width: 100px;
  float: left;
  padding: 3px 5px 0 0;
  text-align: right;
}
form label.inline {
  float: none;
  padding: 0;
  position: relative;
  top: 3px;
}
form span.error_message {
  position: relative;
  left: 80px;
  color: #63284e;
}

#contact_mail_first_name {width: 150px;}
#contact_mail_last_name {width: 150px;}
#contact_mail_zip {width: 100px;}
#contact_mail_phone {width: 150px;}

#comment_form input[type=submit] {
  margin-left: 0;
}