#header .logo{
  display:block;
  margin:0 auto;
  width:303px;
}
#header .logo a{
  display:block;
  background:url(../images/logo.gif) no-repeat;
  width:303px;
  height:148px;
  text-indent:-9999px;
  overflow:hidden;
}
.intro{
  width:100%;
  overflow:hidden;
  margin:7px 0 0;
}
.intro .welcome {
  float:left;
  margin:2px 5px 0 10px;
  padding: 15px;
  display:inline;
  position:relative;
  width: 600px;
  height: 310px;
  background-color: ;
  text-align: justify;
}
.intro .welcome h2 {
  margin-top: 0;
  padding-top: 0;
}
.intro img{display:block;}
.intro .image-holder{
  float:left;
  margin:2px 0 0 10px;
  display:inline;
  position:relative;
}
.intro .image-wrapper{
  float:left;
  padding:0 0 0 12px;
  margin:2px 5px 0 12px;
  display:inline;
  width:284px;
  height:340px;
}
.intro .btn-location{
 /* background:#990100 url(../images/arrow.gif) no-repeat 256px 13px; */
  background: #73d2b4;
  width:245px;
  height:22px;
  padding:8px 0 0 8px;
  color:#000000;
  text-decoration:none;
  display:block;
  margin:9px 0 0;
  line-height:15px;
}
.intro .btn-location:hover{text-decoration:underline;}
.intro .caption{
  position:absolute;
  top:18px;
  left:1px;
  background:#9acccd;
  height:23px;
  padding:3px 25px 0 12px;
  color:#323431;
  font:17px/20px Georgia, 'Times New Roman', Times, serif;
}
.intro .title{
  position:absolute;
  top:260px;
  right:28px;
  background:#4c0b35;
  height:32px;
  padding:3px 13px 0 11px;
  color:#fff;
  font-size:24px;
  line-height:30px;
}
.intro .btn-more{
  position:absolute;
  top:295px;
  right:11px;
  background:#efefef;
  height:23px;
  padding:1px 8px 0 9px;
  margin:0;
  color:#333;
  font:15px/20px Georgia, 'Times New Roman', Times, serif;
  text-decoration:none;
}
.intro .btn-more:hover{text-decoration:underline;}
.intro .btn-more img{display:inline;}
#main{
  background:url(../images/bg-main.gif) repeat-y;
}
#main .main-holder{
  background:url(../images/bg-main-holder.gif) no-repeat;
}
#main .col1{
  width:315px;
}
#main .col1 .content{
  height:1%;
  overflow:hidden;
  padding:0 11px 0 21px;
  background: none;
}
#main .col2{
  width:322px;
  padding-right: 5px;
}
#main .col2 .heading{
  background:#4e0b36 url(../images/bg-heading1.gif) no-repeat 100% 0;
}
#main .col2 .heading{
  width:238px;
}
#main .col3{
  width:318px;
}
#alert {
  width: 700px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 15px;
  overflow: hidden;
}