#main {
  background: none;
}
#main .main-holder {
  background:url(../images/bg-main-holder3.gif) repeat-x;
}
.centered_box {
  width: 400px;
  margin: 50px auto;
}

form input[type=text] {
  width: 275px;
}
form input[type=submit] {
  margin-left: 75px;
}
form h2 {
  position: relative;
  left: 35px;
}
form input[type=radio], form input[type=checkbox] {
  margin-left: 80px;
}
form textarea {
  width: 280px;
  height: 90px;
}
form label {
  width: 75px;
}
form label.inline {
  float: none;
  padding: 0;
  position: relative;
  top: 3px;
}

#user_email, #user_password {
  width: 275px;
}

#edit-password label {
  width: 100px;
}
#edit-password input[type=text], #edit-password input[type=password] {
  width: 200px;
}
#edit-password input[type=submit] {
  margin-left: 100px;
}
