body
    
  #root
                  
    #content-container
      
      #content
      
        #main
        
          #breadcrumbs
            margin: 0
            padding: 0
            
            .heading
              margin: 0 0 10px 0
              padding: 5px 30px 0 5px
              height: 22px
              white-space: nowrap
              overflow: hidden
              color = !white
              
              a
                color = !white
      
body.TwoColumnsLeft

  #breadcrumbs
    max-width: 600px
      
body.TwoColumnsRight

  #breadcrumbs
    max-width: 700px
      
body.ThreeColumns

  #breadcrumbs
    max-width: 400px