input[type=text], textarea
  width: 250px
  height = !line_height
  padding-top: 4px
  font-size: 16px  
  border: 1px solid #ccc
    
  &:active, &:focus
    border:
      color: = "#{!grey-#222}"
      
textarea
  width: 400px
  height: 150px
  
    
#form_contact
  margin: 20px 0 0 10px