body

  #root
              
    #content-container
      
      #content
        
        #main
        
          #index
            background-color: #f7f7f7
            padding: 10px
            margin: 0 0 15px 0
            float: left
            clear: both
            
            a
              text-decoration: none
              
            ol
              float: left
              width: 185px
              margin: 0
              padding: 0 10px 0 0
              left: 0
              
              li
                list-style-type: none
                margin: 0
                padding: 0
                left: 0
                
          .profile
            
            img
              float: right
              margin: 10px
              
            