body

  #root
    
    #head-container
      
      #head
        
        .top
            
          ul
            
            li#notifications
                    
              .inner
                display: none
            
            li#notifications:hover
            
              a.t
                background-color: #c0c0c0
                border: 1px solid #c0c0c0
                border-bottom: none
                color: #fff
                
              .inner
                display: block
                border: 1px solid #c0c0c0
                background-color: #fff
                z-index: 1000000
                position: absolute
                top: 23px
                
                h4
                  padding: 0
                  margin: 5px
                  color: #666
                    
                ul
                  border-top: 1px solid #e0e0e0
                  
                  li
                    display: block
                    float: none
                    overflow: hidden
                    font-size: 15px
                    padding: 0
                    margin: 0
                      
                    a
                      color: #666
                      display: block
                      height: 50px
                      width: auto
                      min-width: 300px
                      max-width: 600px
                      padding: 7px
                    
                      img
                        float: left
                        margin: 0 5px 0 0
                        background-color: #fff
                        
                      abbr
                        font-size: 10px
                        
                      h5
                        font-weight: normal
                        font-size: 14px
                        padding: 0
                        margin: 0
                   
                    a.unseen
                      
                      h5
                        font-weight: bold
                        
                      
                    a:hover
                      background-color = !purple
                      color: #fff
                      text-decoration: none

    #content-container
      
      #content
        
        #main
        
          #qs
            margin: 0 0 10px 0
        
          #index
            padding: 10px
            margin: 0 0 15px 0
            float: left
            clear: both
            
            a
              text-decoration: none
              
            ol
              float: left
              width: 185px
              margin: 0
              padding: 0 10px 0 0
              left: 0
              
              li
                list-style-type: none
                margin: 0
                padding: 0
                left: 0
                
          #members
          
            li
              float: left
              clear: both
              margin: 0 0 15px 0
              width: 100%
          
              img
                float: right
                margin: 0 10px 10px 10px
                
          .wall
            float: left
            margin: 0
            padding: 0
                        
            .buttons
              float: right
              padding: 2px
              margin: 0
            
            .more
              text-align: center
              padding: 10px 0
              margin: 10px 0
              float: left
              width: 100%
              display: block
              background-color: #efefef
              
            ol.reset
              margin: 30px 0 0 0
              padding: 0
              width: 100%
              
              li
                float: left
                clear: both
                margin: 0
                padding: 5px 0 5px 0
                border-bottom: 1px solid #efefef
                width: 100%
                
                .logo
                  float: left
                  width: 50px
                  height: 50px
                  margin: 0 7px 7px 0
                
                .inner-message
                  float: left
                  width: 369px
                  overflow-x: auto
                
                  .remove
                    display: none  
                    
                  .from-to
                    float: left
                    margin: 0 7px 0 0
                  
                    strong.from
                      font-weight: 550  
                    
                    strong.to
                      font-weight: 500 
                    
                  .expandable
                    
                    p
                      margin: 0 0 1em 0

                    span.read-more, span.re-collapse
                      margin-bottom: 0
                      display: block
                      position: relative
                      top: -10px
                    
                  .info
                    margin: 0
                    padding: 0 
                    position: relative
                    top: -0.9em
                    color: #909090
                    font-size: 12px  
                  
                  ol.reset
                    margin: 0
                    padding: 0
                    float: left
                    
                    li
                      float: left
                      clear: both
                      margin: 0 0 1px 0
                      padding: 5px
                      width: 358px
                      border-bottom: 1px solid #e0e0e0
                      background: #f3f3f3
                      
                      .logo
                        width: 35px
                        height: 35px
                        
                    li.new
                    
                      .logo 
                        width: 35px
                        float: left
                    
                      textarea
                        width: 310px
                        float: right
                        
                    li:hover
                    
                      .remove
                        display: inline
              
              li:hover
                
                .inner-message
                  
                  .remove
                    display: inline
                    float: right
                    font-size: 9px
                    position: absolute
                    left: 390px
                    z-index: 10000
                  
                  li
                    
                    .remove
                      display: none
              
              li:last-child
                border-bottom: none

            