body
    
  #root
    
    #head-container
      
      #head
        
        .top

          .search-frm
            float: right
            margin: 0 10px 0 0
            display: inline
            
            .text
              float: left
              width: 175px
              height: 16px
              padding: 1px 5px
              
            .btn
              float: left
              margin: 0 0 0 4px
        
      