body

  #root
  
    #content_container
    
      #content
        
        ol.tag_cloud
          :float          left
          :text-align     justify
                    
          li 
            :float            left
            :line-height      26px
            :padding          0 4px 0 0     
            
            a
              :text-decoration      none
              
            a:hover
              :text-decoration      underline
            
            span 
              :position       absolute
              :left           -10000px
              :width          100px
              
          .size1 
            :font-size    1.0em
          .size2
            :font-size    1.2em
          .size3
            :font-size    1.4em
          .size4
            :font-size    1.6em
          .size5
            :font-size    1.8em
          .size6
            :font-size    2.0em
          .size7
            :font-size    2.2em
          .size8
            :font-size    2.4em
          .size9
            :font-size    2.6em
          .size10
            :font-size    2.8em
            
        #left
          
          .tag-cloud-container
            :padding        15px 5px 15px 10px
            :margin         0
        
          ol.tag_cloud
            :width          175px
            :margin-bottom  10px
          
                