body
    
  #root
  
    #content_container
    
      #content
      
        #content_main
              
          .body
            
            ol.tag_cloud
              :margin             0
              :padding            0
              :list-style-type    none
              :left               0
              :text-align         justify
        
        ol.tag_cloud
          :float          left
          :text-align     justify
                    
          li 
            :float            left
            :line-height      26px
            :padding          0 4px 0 0     
            
            a
              :text-decoration      none
              
            a:hover
              :text-decoration      underline
            
            span 
              :position       absolute
              :left           -10000px
              :width          100px
              
          .size1 
            :font-size    0.8em
          .size2
            :font-size    1.1em
          .size3
            :font-size    1.4em
          .size4
            :font-size    1.7em
          .size5
            :font-size    2.0em
          .size6
            :font-size    2.3em
          .size7
            :font-size    2.5em
          .size8
            :font-size    3.0em
          .size9
            :font-size    3.6em
          .size10
            :font-size    4.3em
            
        #left
          
          .tag-cloud-container
            :padding        15px 5px 15px 10px
            :margin         0
        
          ol.tag_cloud
            :width          175px
            :margin-bottom  10px
            :text-align     left
          
                