<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'> 
<html> 
  <head> 
    <r:snippet name='meta' />
    <r:snippet name='stylesheets' />
    <link href="/feeds/news.atom" rel="alternate" title="News Feed" type="application/atom+xml">
  </head> 
  <body class="<r:layout /> <r:if_url matches="^/$">Home</r:if_url> <r:unless_url matches="^/$"><r:slug /></r:unless_url>"> 
    <div id='root'>
      <div id='head-container'>
        <div id='head'>
          <r:snippet name="head" />
        </div>
      </div>
      <div id='content-container'> 
        <r:content_for_layout />
      </div> 
    </div> 
    <div id='foot-container'> 
      <div id='foot'>
        <r:snippet name='foot' />
      </div>
      <div id='root-foot'> 
      </div>
    </div> 
    <r:snippet name='javascripts' /> 
  </body> 
</html>